/*Cierre de espacios como margenes y alturas*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Animacion de fondo */
@keyframes hero-gradient-animation {
  0% {
    --y-0: 16%;
    --s-start-0: 6.018788142925232%;
    --s-end-0: 35%;
    --x-0: 59%;
    --c-0: hsla(289, 100%, 52%, 1);
    --c-1: hsla(236, 96%, 40%, 1);
    --y-1: 7%;
    --x-1: 92%;
    --s-start-1: 3.315649867374005%;
    --s-end-1: 6.33664952285726%;
    --x-2: 78%;
    --y-2: 75%;
    --c-2: hsla(183, 61%, 42%, 1);
    --s-start-2: 0%;
    --s-end-2: 7%;
    --c-3: hsla(243, 83%, 19%, 0.5);
   --x-3: 59%;
    --s-start-3: 0%;
    --s-end-3: 68%;
    --y-3: 59%;
    --s-start-4: 3%;
    --s-end-4: 36%;
    --y-4: 86%;
    --c-4: hsla(313, 91%, 42%, 1);
    --x-4: 7%;
  }

  100% {
    --y-0: 23%;
    --s-start-0: 0%;
    --s-end-0: 11.238503048843667%;
    --x-0: 63%;
    --c-0: hsla(287, 87%, 40%, 1);
    --c-1: hsla(236, 100%, 50%, 1);
    --y-1: 14%;
    --x-1: 89%;
    --s-start-1: 0%;
    --s-end-1: 36%;
    --x-2: 92%;
    --y-2: 90%;
    --c-2: hsla(181, 96%, 60%, 1);
    --s-start-2: 1%;
    --s-end-2: 28%;
    --c-3: hsla(246, 83%, 28%, 0.5);
    --x-3: 2%;
    --s-start-3: 0%;
    --s-end-3: 36.852784336403765%;
    --y-3: 9%;
    --s-start-4: 12.198718286003295%;
    --s-end-4: 40%;
    --y-4: 19%;
    --c-4: hsla(311, 90%, 31%, 1);
    --x-4: 13%;
  }
}

@property --y-0 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 16%
}

@property --s-start-0 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 6.018788142925232%
}

@property --s-end-0 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 35%
}

@property --x-0 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 59%
}

@property --c-0 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(289, 100%, 52%, 1)
}

@property --c-1 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(236, 96%, 40%, 1)
}

@property --y-1 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 7%
}

@property --x-1 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 92%
}

@property --s-start-1 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 3.315649867374005%
}

@property --s-end-1 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 6.33664952285726%
}

@property --x-2 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 78%
}

@property --y-2 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 75%
}

@property --c-2 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(183, 61%, 42%, 1)
}

@property --s-start-2 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 0%
}

@property --s-end-2 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 7%
}

@property --c-3 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(243, 83%, 19%, 0.5)
}

@property --x-3 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 59%
}

@property --s-start-3 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 0%
}

@property --s-end-3 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 68%
}

@property --y-3 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 59%
}

@property --s-start-4 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 3%
}

@property --s-end-4 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 36%
}

@property --y-4 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 86%
}

@property --c-4 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(313, 91%, 42%, 1)
}

@property --x-4 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 7%
}

body {
  --y-0: 16%;
  --x-0: 59%;
  --c-0: hsla(289, 100%, 52%, 1);
  --c-1: hsla(236, 96%, 40%, 1);
  --y-1: 7%;
  --x-1: 92%;
  --x-2: 78%;
  --y-2: 75%;
  --c-2: hsla(183, 61%, 42%, 1);
  --c-3: hsla(243, 83%, 19%, 0.5);
  --x-3: 59%;
  --y-3: 59%;
  --y-4: 86%;
  --c-4: hsla(313, 91%, 42%, 1);
  --x-4: 7%;
  background-color: hsla(228, 71%, 4%, 1);
  background-image: radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)), radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)), radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2)), radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3), transparent var(--s-end-3)), radial-gradient(circle at var(--x-4) var(--y-4), var(--c-4) var(--s-start-4), transparent var(--s-end-4));
  animation: hero-gradient-animation 10s linear infinite alternate;
  background-blend-mode: normal, normal, normal, normal, normal;
  position: sticky;
  top: 0;
  min-height: 90vh;
}

html {
  scroll-behavior: smooth;
}
/*Estilos al menu de navegacion, posicionamiento, margenes y colores */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 1.5rem 1rem;
  margin: 0 auto;
}

.header {
  font-size: 1.5rem;
  font-weight: bold;
  position: sticky;
  top: 0;
  font-family: "Sacramento", cursive;
  font-style: normal;
}

nav {
  font-size: 1.1rem;
  font-weight: bold;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  gap: 1rem;
}

nav a {
  color: #fff;
  text-decoration: none;
  background-image: linear-gradient(to top right, #883bdb, #15a6c7);
  border: 0;
  text-transform: uppercase;
  padding: 10px 25px;
  border-radius: 30px;
}

nav:hover {
  cursor: pointer;
  transform: translateY(-3px);
}

/*Estilos a la imagen principal altura, tamaño y letra */
.hero {
  height: auto;
  margin-bottom: 300px;
}

.hero h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  text-transform: uppercase;
  color: white;
  width: 100px;
  -webkit-box-shadow: inset 2px -1px 37px 1px rgba(16, 27, 79, 0.79);
  -moz-box-shadow: inset 2px -1px 37px 1px rgba(94, 107, 175, 0.79);
  box-shadow: 2px -1px 37px 1px rgba(94, 107, 175, 0.79);
}

.container p {
  width: 100px;
  font-size: 4.5rem;
  color: #fff;
  margin: 100px 700px 0px 0;
  position: relative;
  top: 80px;
  left: 330px;
  z-index: 1;
  transform: rotate(-35deg);
  font-family: "Sacramento", cursive;
  font-weight: bold;
  font-style: normal;
}

.container_one h1 {
  height: 130px;
  font-size: 6rem;
  width: 600px;
  align-content: center;
  margin: auto;
}

#about_me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  margin-bottom: 300px;
}

.img_about {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  margin-top: 70px;
}

.img_about div img {
  border-radius: 100%;
  margin: auto;

}

.paragraph {
  width: 550px;
  height: 100px;
}

.paragraph p {
  align-content: center;
  color: white;
  text-align: center;
  font-size: 1.5rem;
}

.img_about .paragraph h2 {
  margin: 20px 0 80px 0;
  padding-top: 8px;
}

h2 {
  font-size: 2.5rem;
  color: white;
  text-align: center;
  margin-top: 100px;
  text-transform: uppercase;
}

h3 {
  font-size: 1.1rem;
  color: #fff;
  margin: 20px 20px;
  text-transform: uppercase;
}
/*Estilos a las siguientes hojas que contienen imagenes */
#know,
#projects
{
  height: auto;
  margin-top: 310px;
}

.logos {
  padding-top: 30px;
  margin-top: 80px;
}

.grille_img,
.image {
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin: 100px;
}

.grille_img div {
  display: flex;
  justify-content: center;
}

.grille_img div img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  border: 1px solid rgba(221, 209, 243, 0.315);
  background-color: rgba(221, 209, 243, 0.315);
  padding: 4px 2px;
}

.image div img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  transition: transform 0.8s ease;
  border: 1px solid rgba(221, 209, 243, 0.315);
  background-color: rgba(221, 209, 243, 0.315);
  padding: 4px 2px;
}

#projects h2 {
  padding-top: 10px;
  margin-top: 30px;
}

.cards {
  text-align: center;
  color: #fff;
  padding: 30px 80px;
  margin: 20px 0 20px 0;
  display: flex;
  justify-content: space-around;
}

.cards div img {
  width: 250px;
  height: 230px;
  border-radius: 10px;
  transition: transform 0.8s ease;
  border: 1px solid rgba(221, 209, 243, 0.315);
  background-color: rgba(221, 209, 243, 0.315);
}

.cards .letter {
  width: 260px;
  height: 250px;
}
/* Estilos al formulario de contacto color tamaño, anocho y tamaño de letra*/
#contacts {
  margin-top: 300px;
  height: auto;
}

.content {
  color: white;
  text-align: center;
  font-size: 2.5rem;
  margin: 40px 0 20px 0;
}

#form {
  border: 2px solid rgba(221, 209, 243, 0.315);
  border-radius: 10px;
  width: 370px;
  height: 390px;
  text-align: center;
  color: #fff;
  margin: auto;
  font-size: 18px;
  background-color: rgba(221, 209, 243, 0.315);
}

label {
  display: block;
  margin-bottom: 5px;
  padding-top: 15px;
  font-size: 1.2rem;
}

#fullname,
#number,
#email {
  border: 1px solid white;
  border-radius: 3px;
  padding-top: 15px 15px;
  margin-top: 3px 3px;
  width: 315px;
  height: 30px;
}

#message {
  width: 85%;
  height: 70px;
  display: block;
  margin-left: 25px;
}

button {
  padding: 8px 20px;
  border-radius: 8px;
  border: 0;
  font-size: 1rem;
  margin: 10px 10px;
  background-image: linear-gradient(to top right, #883bdb, #15a6c7);
  color: #fff;
}

button:hover {
  cursor: pointer;
  transform: translateY(-3px);
  background-color: #18bac5;
}

.footer {
  text-align: center;
  color: #fff;
  margin-top: 5px;
  gap: 8rem;
}

.footer div p {
  margin: 0 5px;
  font-size: 1.2rem;
}

.social_networks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

div i {
  display: flex;
  width: 30px;
}

i {
  color: #fff;
  font-size: 1.8rem;
  padding-top: 8px;
}

/* Media query para dispositivos entre 764px y 1024px */
@media screen and (min-width: 764px) and (max-width: 1024px) {
  header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  nav ul {
    flex-direction: column;
    gap: 1.5rem;
  }

  .container p {
    width: 80%;
    font-size: 3rem;
    margin: 50px auto 0;
    left: 0;
    transform: rotate(0deg);
    text-align: center;
  }

  .container_one h1 {
    font-size: 3.5rem;
    width: 90%;
  }

  .img_about {
    flex-direction: column;
    align-items: center;
  }

  .paragraph {
    width: 90%;
    height: auto;
    margin-top: 20px;
  }

  .paragraph p {
    font-size: 1.2rem;
  }

  .grille_img,
  .image {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 50px 0;
  }

  .cards {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 20px;
  }

  .cards .letter {
    width: 90%;
    height: auto;
  }

  #form {
    width: 90%;
    height: auto;
    padding: 10px;
  }

  #fullname,
  #number,
  #email {
    width: 90%;
  }

  #message {
    width: 90%;
    margin-left: 5%;
  }

  .footer {
    flex-direction: column;
    gap: 1rem;
  }

  .social_networks {
    flex-wrap: wrap;
    gap: 10px;
  }
}

